@use "../variables";
@use "../mixins";
@use "../font";
@use "../placeholder";

.big-circle-container {
  display: none;

  @media (min-width: 1300px) {
    display: block;
    overflow: hidden;
  }

  .big-circle {
    position: absolute;
    top: 80%;
    right: -10%;
    transform: translate(0, -50%);
    margin-top: 0;
    aspect-ratio: 1;
    background: transparent;
    width: 48vw;
    height: 48vw;
    border-radius: 50%;
    border: 4px solid variables.$background_dark;
  }
}

#resources {
  .small-circles-container {
    display: block;

    .matters-circle {
      position: absolute;
      top: -14%;
      right: 0;
    }
  }
}
