@mixin circle($color, $measurement) {
  position: absolute;
  z-index: 10;
  @include round;
  background-color: $color;
  width: $measurement;
  height: $measurement;
  @if $color == $background_dark {
    border: $background_light 4px solid;
  } @else {
    border: $background_dark 4px solid;
  }
}
