@mixin calculateFlexbox(
  $direction: row,
  $justifty: center,
  $align: center,
  $gap: 0.5rem
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifty;
  align-items: $align;
  gap: $gap;
}
