@mixin round {
  border-radius: 50%;
}

@mixin position($x, $y) {
  position: absolute;

  @if $x == left {
    left: 0;
  }
  @if $x == middle {
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @if $x == right {
    right: 0;
  }

  @if $y == top {
    top: 0;
  }
  @if $y == middle {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  @if $y == bottom {
    bottom: 0;
  }
}

@mixin calculateFlexbox(
  $direction: row,
  $justifty: center,
  $align: center,
  $gap: 0.5rem
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifty;
  align-items: $align;
  gap: $gap;
}

/*green check*/
@mixin font-setup($font-family, $font-size, $font-weight: normal, $color: black) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
}

@mixin responsive-padding($desktop-padding, $mobile-padding) {
  padding: $desktop-padding;

  @media (max-width: 991px) {
    padding: $mobile-padding;
  }
}
