@use "./variables" as *;
@import "./variables";
nav {
  & {
    background-color: $background_light;
    padding: 1rem;
    text-align: center;
    * {
      color: #006769;
      text-decoration: none;
    }
  }
}
