$text_dark: #006769;
$text_light: #e6ff94;
$text_white: #ffffff;
$background_dark: #40a578;
$background_light: #a5dd9b;


/*green check*/
$bg-color: #40a578;
$font-color: #e6ff94;
$font-weight: 400;
$padding: 14px 80px 80px 21px;
$border-color: rgba(165, 221, 155, 1);
$border-width: 6px;
$check-bg-color: #40a578;
$check-color: #a5dd9b;
$font-size: 24px;
$font-family: 'Ubuntu Mono', sans-serif;
$info-header-font-size: 48px;
$info-header-font-family: 'Inter', sans-serif;
$description-font-family: 'Ubuntu Mono', sans-serif;
$url-input-bg-color: #a5dd9b;
$url-input-color: #006769;
$check-button-bg-color: #a5dd9b;
$check-button-color: #006769;
$sub-text-color: rgb(64, 165, 120);
$main-text-color: rgb(230, 255, 148);