@use "../mixins";
@use "../variables";
.wrapper {
  align-items: center;
  background-color: variables.$bg-color;
  display: flex;
  flex-direction: column;
  text-align: center;
  @include font-setup(
    variables.$font-family,
    20px,
    variables.$font-weight,
    variables.$font-color
  );
  @include responsive-padding(variables.$padding, 0 20px);

  // .green-check {
  //   stroke-width: var(--border-width);
  //   border: var(--border-width) solid var(--border-color);
  //   background-color: var(--check-bg-color);
  //   border-radius: 50%;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   color: var(--check-color);
  //   aspect-ratio: 1;
  //   margin-right: 11px;
  //   padding: 32px;
  //   @include font-setup(var(--font-family), var(--font-size));

  //   @media (max-width: 991px) {
  //     padding: 0 20px;
  //   }
  // }

  .info-header {
    margin-top: -3px;
    padding-right: 15px;
    @include font-setup(
      variables.$info-header-font-family,
      variables.$info-header-font-size
    );

    @media (max-width: 991px) {
      max-width: 100%;
      margin-top: 40px;
      font-size: 40px;
    }
  }

  .description {
    font-family: variables.$description-font-family;
    margin-top: 59px;

    @media (max-width: 991px) {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .url-input {
    font-family: variables.$font-family;
    border-radius: 77px;
    background-color: variables.$url-input-bg-color;
    margin-top: 84px;
    width: 765px;
    max-width: 100%;
    align-items: start;
    color: variables.$url-input-color;
    white-space: nowrap;
    justify-content: center;
    padding: 22px 53px;

    @media (max-width: 991px) {
      margin-top: 40px;
      white-space: initial;
      width: 281px;
      height: 27.88px;
      padding: 0 20px;
    }
  }

  .check-button {
    font-family: variables.$font-family;
    border-radius: 77px;
    background-color: variables.$check-button-bg-color;
    margin-top: 36px;
    width: 234px;
    max-width: 100%;
    align-items: center;
    color: variables.$check-button-color;
    white-space: nowrap;
    justify-content: center;
    padding: 13px 60px;

    @media (max-width: 991px) {
      white-space: initial;
      padding: 0 20px;
      margin-bottom: 2rem;
      height: 2rem;
    }

    @media (max-width: 700px) {
      margin-bottom: 7rem;
    }
  }

  .sub-text {
    @include font-setup(
      variables.$font-family,
      16px,
      normal,
      variables.$sub-text-color
    );
  }

  .main-text {
    @include font-setup(
      variables.$font-family,
      36px,
      normal,
      variables.$main-text-color
    );
  }
}
