/*green check*/
/*green check*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  font-style: normal;
  font-weight: 400;
  font-family: "Ubuntu Mono", monospace;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

nav {
  background-color: #a5dd9b;
  padding: 1rem;
  text-align: center;
}
nav * {
  color: #006769;
  text-decoration: none;
}

#landing_page {
  position: relative;
  z-index: 0;
  background-color: #40a578;
  width: 100%;
  height: 90vh;
}

.circle_container h1 {
  z-index: 9999;
  position: absolute;
  top: 33%;
  left: 33%;
  transform: translate(-50%, -50%);
  width: 3em;
  -webkit-text-stroke-color: #40a578;
  -webkit-text-stroke-width: 4px;
  color: #e6ff94;
  font-size: 128px;
}
@media (max-width: 991px) {
  .circle_container h1 {
    font-size: 2rem;
    background: red;
    top: 40%;
    left: 40%;
    color: #e6ff94;
    width: 9rem;
  }
}
.circle_container .circle1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 10;
  border-radius: 50%;
  background-color: #40a578;
  width: 760px;
  height: 760px;
  border: #a5dd9b 4px solid;
  border-color: #e6ff94;
}
@media (max-width: 991px) {
  .circle_container .circle1 {
    z-index: 95;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
  }
}
.circle_container .circle2 {
  top: 67%;
  left: 67%;
  transform: translate(-50%, -50%);
  color: #e6ff94;
  font-size: 2rem;
  position: absolute;
  z-index: 10;
  border-radius: 50%;
  background-color: #40a578;
  width: 300px;
  height: 300px;
  border: #a5dd9b 4px solid;
  justify-content: center;
  align-items: center;
  border-color: #e6ff94;
}
@media (max-width: 991px) {
  .circle_container .circle2 {
    z-index: 999;
    top: 67%;
    left: 67%;
    width: 150px;
    height: 150px;
    font-size: 1rem;
  }
}
.circle_container .circle2 p {
  margin-top: 7rem;
  text-align: center;
}
@media (max-width: 991px) {
  .circle_container .circle2 p {
    margin-top: 4.3rem;
  }
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  background-color: #40a578;
  padding: 10vh 7vw 10vh 7vw;
  color: #ffffff;
  color: #ffffff;
}
footer #contact_info_container ul {
  padding: 0;
  list-style: none;
}
footer #contact_info_container ul li {
  font-style: normal;
}
footer #made_possible_by_container {
  color: #ffffff;
}
footer #newsletter_container input {
  display: block;
  margin: 5px;
  border: none;
  border-radius: 1000px;
  background-color: #e6ff94;
  padding: 5px 1rem 5px 1rem;
}
footer #newsletter_container input::-moz-placeholder {
  color: #40a578;
}
footer #newsletter_container input:-ms-input-placeholder {
  color: #40a578;
}
footer #newsletter_container input::placeholder {
  color: #40a578;
}
footer #newsletter_container button {
  margin: 5px;
  border: 1px solid #e6ff94;
  border-radius: 1000px;
  background: none;
  padding: 5px 1rem 5px 1rem;
  color: #e6ff94;
}
footer #logo_container {
  position: relative;
}
footer #logo_container hgroup {
  position: absolute;
  bottom: 50%;
  left: 35%;
  z-index: 11;
}
footer #logo_container hgroup h3 {
  margin: 0;
  padding: 0;
  color: #e6ff94;
  font-size: 3rem;
}
footer #logo_container hgroup h4 {
  margin: 0;
  font-size: 1.5rem;
}
footer #logo_container .circle_container .circle3 {
  position: absolute;
  z-index: 10;
  border-radius: 50%;
  background-color: #40a578;
  width: 200px;
  height: 200px;
  border: #a5dd9b 4px solid;
  position: absolute;
  bottom: 0;
  left: 30%;
  border: 4px solid #e6ff94;
}
footer #logo_container .circle_container .circle4 {
  position: absolute;
  z-index: 10;
  border-radius: 50%;
  background-color: #40a578;
  width: 100px;
  height: 100px;
  border: #a5dd9b 4px solid;
  position: absolute;
  bottom: 0;
  left: 50%;
  border: 4px solid #e6ff94;
}

/*green check*/
/*green check*/
body {
  font-style: normal;
  font-weight: 400;
  font-family: "Ubuntu Mono", monospace;
  margin: 0;
  padding: 0;
}

.mission-section .image-container, .mission-section .image-column, .mission-section .text-column, .mission-section {
  display: flex;
  flex-direction: column;
}

.mission-section .mission-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#calculate .calculate-container .input-container .website-input, #calculate .calculate-container .input-container #calculate-website {
  border-radius: 77px;
  background: #40a578;
  border: 0;
  color: #ffffff;
}

@media (max-width: 991px) {
  .mission-section .mission-content, .mission-section {
    padding: 0 20px;
  }
}
.green-check-circle,
.section-circle {
  position: absolute;
  left: 2%;
  bottom: -12%;
  background: #40a578;
  border-radius: 50%;
  width: 175px;
  height: 175px;
  border: 9px solid #a5dd9b;
}

@media (max-width: 991px) {
  .green-check-circle,
.section-circle {
    left: 3%;
    bottom: -11%;
    width: 100px;
    height: 100px;
    border: 6px solid #a5dd9b;
  }
}
.green-check-circle h3,
.section-circle h3 {
  text-align: center;
  padding-top: 3.5rem;
  color: #a5dd9b;
  font-size: 19px;
}

@media (max-width: 991px) {
  .green-check-circle h3,
.section-circle h3 {
    text-align: center;
    padding-top: 0.5rem;
    font-weight: 300;
  }
}
#calculate {
  background: #a5dd9b;
  padding: 0rem 0.4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  height: 75vh;
}
@media (min-width: 1300px) {
  #calculate {
    height: 69vh;
  }
}
#calculate .carbon-circle {
  position: absolute;
  left: 3%;
  top: -14%;
  background: #a5dd9b;
  border-radius: 50%;
  width: 175px;
  height: 175px;
  border: 6px solid #40a578;
  font-weight: 300;
}
@media (max-width: 991px) {
  #calculate .carbon-circle {
    left: 3%;
    bottom: -13%;
    width: 100px;
    height: 100px;
    border: 6px solid #40a578;
  }
}
#calculate .carbon-circle h2 {
  text-align: center;
  font-size: 1.3rem;
  padding-top: 1.5rem !important;
  color: #006769;
}
@media (max-width: 991px) {
  #calculate .carbon-circle h2 {
    text-align: center;
    padding-top: 0.5rem;
    font-weight: 300;
  }
}
#calculate .calculate-header {
  text-align: center;
}
#calculate .calculate-header h2 {
  color: #40a578;
  text-transform: uppercase;
}
@media (min-width: 1300px) {
  #calculate .calculate-header h2 {
    font-size: 34px;
  }
}
#calculate .calculate-header h3 {
  width: 350px;
  color: #006769;
  font-size: 20px;
}
@media (min-width: 1300px) {
  #calculate .calculate-header h3 {
    font-size: 25px;
    width: 400px;
  }
}
#calculate .calculate-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
@media (min-width: 1300px) {
  #calculate .calculate-container {
    gap: 2rem;
  }
}
#calculate .calculate-container .co2-header {
  width: 320px;
  text-align: center;
}
@media (min-width: 1300px) {
  #calculate .calculate-container .co2-header {
    padding-right: 17rem;
  }
}
#calculate .calculate-container .co2-header p {
  width: 340px;
  color: #006769;
}
@media (min-width: 1300px) {
  #calculate .calculate-container .co2-header p {
    width: 650px;
    font-size: 19px;
  }
}
#calculate .calculate-container .input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
@media (min-width: 1300px) {
  #calculate .calculate-container .input-container {
    gap: 1.6rem;
  }
}
#calculate .calculate-container .input-container .website-input {
  width: 272px;
  height: 21.61px;
  padding: 0.2rem 0.3rem;
}
@media (min-width: 1300px) {
  #calculate .calculate-container .input-container .website-input {
    width: 500px;
    height: 34px;
  }
}
#calculate .calculate-container .input-container .website-input::-moz-placeholder {
  text-align: center;
  color: #ffffff;
  font-size: 15px;
  line-height: 13px;
}
#calculate .calculate-container .input-container .website-input:-ms-input-placeholder {
  text-align: center;
  color: #ffffff;
  font-size: 15px;
  line-height: 13px;
}
#calculate .calculate-container .input-container .website-input::placeholder {
  text-align: center;
  color: #ffffff;
  font-size: 15px;
  line-height: 13px;
}
@media (min-width: 1300px) {
  #calculate .calculate-container .input-container .website-input::-moz-placeholder {
    text-align: left;
    padding-left: 1.9rem;
  }
  #calculate .calculate-container .input-container .website-input:-ms-input-placeholder {
    text-align: left;
    padding-left: 1.9rem;
  }
  #calculate .calculate-container .input-container .website-input::placeholder {
    text-align: left;
    padding-left: 1.9rem;
  }
}
#calculate .calculate-container .input-container #calculate-website {
  width: 150px;
  height: 26px;
  margin-bottom: 0.4rem;
  text-transform: uppercase;
}
#calculate .calculate-container .input-container #calculate-website:hover {
  cursor: pointer;
}
@media (min-width: 1300px) {
  #calculate .calculate-container .input-container #calculate-website {
    width: 200px;
    height: 30px;
  }
}

/*green check*/
/*green check*/
body {
  font-style: normal;
  font-weight: 400;
  font-family: "Ubuntu Mono", monospace;
  margin: 0;
  padding: 0;
}

.mission-section .image-container, .mission-section .image-column, .mission-section .text-column, .mission-section {
  display: flex;
  flex-direction: column;
}

.mission-section .mission-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#calculate .calculate-container .input-container .website-input, #calculate .calculate-container .input-container #calculate-website {
  border-radius: 77px;
  background: #40a578;
  border: 0;
  color: #ffffff;
}

@media (max-width: 991px) {
  .mission-section .mission-content, .mission-section {
    padding: 0 20px;
  }
}
#calculate-result {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  border: 4px solid #a5dd9b;
  border-radius: 100px;
  background: #40a578;
  color: #e6ff94;
  width: 30%;
}
#calculate-result button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 50%;
  background-color: #40a578;
  width: 30px;
  height: 30px;
  color: #a5dd9b;
  text-align: center;
}

/*green check*/
/*green check*/
.wrapper {
  align-items: center;
  background-color: #40a578;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #e6ff94;
  font-weight: 400;
  font-size: 20px;
  font-family: "Ubuntu Mono", sans-serif;
  padding: 14px 80px 80px 21px;
}
@media (max-width: 991px) {
  .wrapper {
    padding: 0 20px;
  }
}
.wrapper .info-header {
  margin-top: -3px;
  padding-right: 15px;
  color: black;
  font-weight: normal;
  font-size: 48px;
  font-family: "Inter", sans-serif;
}
@media (max-width: 991px) {
  .wrapper .info-header {
    max-width: 100%;
    margin-top: 40px;
    font-size: 40px;
  }
}
.wrapper .description {
  font-family: "Ubuntu Mono", sans-serif;
  margin-top: 59px;
}
@media (max-width: 991px) {
  .wrapper .description {
    max-width: 100%;
    margin-top: 40px;
  }
}
.wrapper .url-input {
  font-family: "Ubuntu Mono", sans-serif;
  border-radius: 77px;
  background-color: #a5dd9b;
  margin-top: 84px;
  width: 765px;
  max-width: 100%;
  align-items: start;
  color: #006769;
  white-space: nowrap;
  justify-content: center;
  padding: 22px 53px;
}
@media (max-width: 991px) {
  .wrapper .url-input {
    margin-top: 40px;
    white-space: initial;
    width: 281px;
    height: 27.88px;
    padding: 0 20px;
  }
}
.wrapper .check-button {
  font-family: "Ubuntu Mono", sans-serif;
  border-radius: 77px;
  background-color: #a5dd9b;
  margin-top: 36px;
  width: 234px;
  max-width: 100%;
  align-items: center;
  color: #006769;
  white-space: nowrap;
  justify-content: center;
  padding: 13px 60px;
}
@media (max-width: 991px) {
  .wrapper .check-button {
    white-space: initial;
    padding: 0 20px;
    margin-bottom: 2rem;
    height: 2rem;
  }
}
.wrapper .sub-text {
  color: rgb(64, 165, 120);
  font-weight: normal;
  font-size: 16px;
  font-family: "Ubuntu Mono", sans-serif;
}
.wrapper .main-text {
  color: rgb(230, 255, 148);
  font-weight: normal;
  font-size: 36px;
  font-family: "Ubuntu Mono", sans-serif;
}

/*green check*/
/*green check*/
body {
  font-style: normal;
  font-weight: 400;
  font-family: "Ubuntu Mono", monospace;
  margin: 0;
  padding: 0;
}

.mission-section .image-container, .mission-section .image-column, .mission-section .text-column, .mission-section {
  display: flex;
  flex-direction: column;
}

.mission-section .mission-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#calculate .calculate-container .input-container .website-input, #calculate .calculate-container .input-container #calculate-website {
  border-radius: 77px;
  background: #40a578;
  border: 0;
  color: #ffffff;
}

@media (max-width: 991px) {
  .mission-section .mission-content, .mission-section {
    padding: 0 20px;
  }
}
#resources {
  background: #a5dd9b;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.7rem;
  color: #006769;
  position: relative;
  height: 70vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
#resources .left-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.7rem;
  overflow: hidden;
}
#resources .left-side .resources-header h2 {
  font-size: 45px;
}
#resources .left-side .resources-info p {
  width: 350px;
}
#resources .left-side .resources-info .resources-points {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#resources .left-side .resources-info .resources-points li a {
  color: #006769;
}
#resources .matters-circle {
  position: absolute;
  left: 2%;
  top: -14%;
  background: #a5dd9b;
  border-radius: 50%;
  width: 175px;
  height: 175px;
  border: 6px solid #40a578;
  font-weight: 300;
}
@media (max-width: 991px) {
  #resources .matters-circle {
    left: 3%;
    bottom: -2%;
    width: 100px;
    height: 100px;
    border: 6px solid #a5dd9b;
  }
}
#resources .matters-circle h2 {
  text-align: center;
  padding-top: 3.3rem;
  color: #006769;
}
@media (max-width: 991px) {
  #resources .matters-circle h2 {
    text-align: center;
    padding-top: 0.5rem;
    font-weight: 300;
  }
}
#resources .mission-circle {
  position: absolute;
  left: 2%;
  bottom: -13%;
  background: #40a578;
  border-radius: 50%;
  width: 175px;
  height: 175px;
  border: 6px solid #a5dd9b;
}
@media (max-width: 991px) {
  #resources .mission-circle {
    left: 3%;
    bottom: -15%;
    width: 100px;
    height: 100px;
    border: 6px solid #a5dd9b;
  }
}
#resources .mission-circle h2 {
  text-align: center;
  padding-top: 3.3rem;
  color: #a5dd9b;
  font-weight: 300;
}
@media (max-width: 991px) {
  #resources .mission-circle h2 {
    text-align: center;
    padding-top: 0.5rem;
    font-weight: 300;
  }
}

/*green check*/
/*green check*/
body {
  font-style: normal;
  font-weight: 400;
  font-family: "Ubuntu Mono", monospace;
  margin: 0;
  padding: 0;
}

.mission-section .image-container, .mission-section .image-column, .mission-section .text-column, .mission-section {
  display: flex;
  flex-direction: column;
}

.mission-section .mission-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#calculate .calculate-container .input-container .website-input, #calculate .calculate-container .input-container #calculate-website {
  border-radius: 77px;
  background: #40a578;
  border: 0;
  color: #ffffff;
}

@media (max-width: 991px) {
  .mission-section .mission-content, .mission-section {
    padding: 0 20px;
  }
}
.big-circle-container {
  display: none;
}
@media (min-width: 1300px) {
  .big-circle-container {
    display: block;
    overflow: hidden;
  }
}
.big-circle-container .big-circle {
  position: absolute;
  top: 80%;
  right: -10%;
  transform: translate(0, -50%);
  margin-top: 0;
  aspect-ratio: 1;
  background: transparent;
  width: 48vw;
  height: 48vw;
  border-radius: 50%;
  border: 4px solid #40a578;
}

/*green check*/
/*green check*/
body {
  font-style: normal;
  font-weight: 400;
  font-family: "Ubuntu Mono", monospace;
  margin: 0;
  padding: 0;
}

.mission-section, .mission-section .text-column, .mission-section .image-column, .mission-section .image-container {
  display: flex;
  flex-direction: column;
}

.mission-section .mission-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#calculate .calculate-container .input-container .website-input, #calculate .calculate-container .input-container #calculate-website {
  border-radius: 77px;
  background: #40a578;
  border: 0;
  color: #ffffff;
}

@media (max-width: 991px) {
  .mission-section, .mission-section .mission-content {
    padding: 0 20px;
  }
}
.mission-section {
  background-color: #40a578;
  padding: 80px 63px;
  overflow: hidden;
}
.mission-section .mission-title {
  color: #e6ff94;
  margin-top: 170px;
  margin-left: 100px;
  font: 400 64px "Ubuntu Mono", sans-serif;
}
@media (max-width: 991px) {
  .mission-section .mission-title {
    font-size: 40px;
  }
}
@media (max-width: 991px) {
  .mission-section .mission-title {
    margin-left: 0;
    margin-bottom: 6rem;
  }
}
.mission-section .mission-content-container {
  z-index: 10;
  margin-top: -26px;
}
.mission-section .mission-content {
  gap: 20px;
}
@media (max-width: 991px) {
  .mission-section .mission-content {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}
.mission-section .mission-text {
  color: #fff;
  margin-top: 113px;
  margin-left: 100px;
  font: 400 20px "Ubuntu Mono", sans-serif;
}
@media (max-width: 991px) {
  .mission-section .mission-text {
    margin-top: 40px;
  }
}
@media (max-width: 991px) {
  .mission-section .mission-text {
    margin: 0;
    width: 300px;
  }
}
.mission-section .text-column {
  line-height: normal;
  width: 39%;
}
@media (max-width: 991px) {
  .mission-section .text-column {
    margin-right: 2rem;
  }
}
.mission-section .image-column {
  line-height: normal;
  width: 61%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .mission-section .image-column {
    width: 100%;
    display: none;
  }
}
.mission-section .image-container {
  position: relative;
  border-radius: 50%;
  border: 4px solid rgb(230, 255, 148);
  background-color: #40a578;
  align-items: start;
  width: 100%;
  height: 900px;
  padding: 80px 0 24px;
  margin-left: 30%;
}
.mission-section .image-container .main-image {
  position: absolute;
  top: 70%;
  left: -10%;
  transform: translate(0, -50%);
  border-radius: 50%;
  border: 4px solid rgb(230, 255, 148);
  background-color: #40a578;
  margin-top: 0;
  width: 304px;
  height: 304px;
  aspect-ratio: 1;
}
@media (max-width: 991px) {
  .mission-section .image-container .main-image {
    margin-top: 40px;
  }
}