@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  font-style: normal;
  font-weight: 400;
  font-family: "Ubuntu Mono", monospace;
  margin: 0;
  padding: 0;
}

#calculate .calculate-container .input-container .website-input, #calculate .calculate-container .input-container #calculate-website {
  border-radius: 77px;
  background: #40a578;
  border: 0;
  color: #ffffff;
}

.green-check-circle,
.section-circle {
  position: absolute;
  left: 6%;
  bottom: -8%;
  background: #40a578;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  border: 9px solid #a5dd9b;
}
@media (min-width: 1300px) {
  .green-check-circle,
.section-circle {
    left: 3%;
    bottom: -14%;
    width: 175px;
    height: 175px;
    border: 6px solid #a5dd9b;
  }
}
.green-check-circle h3,
.section-circle h3 {
  text-align: center;
  padding-top: 0.25rem;
  color: #e6ff94;
  font-size: 19px;
}
@media (min-width: 1300px) {
  .green-check-circle h3,
.section-circle h3 {
    padding-top: 3.7rem;
    font-weight: 300;
  }
}

#calculate {
  background: #a5dd9b;
  padding: 0rem 0.4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  height: 75vh;
}
@media (min-width: 1300px) {
  #calculate {
    height: 69vh;
  }
}
#calculate .calculate-header {
  text-align: center;
}
#calculate .calculate-header h2 {
  color: #40a578;
  text-transform: uppercase;
}
@media (min-width: 1300px) {
  #calculate .calculate-header h2 {
    font-size: 34px;
  }
}
#calculate .calculate-header h3 {
  width: 350px;
  color: #006769;
  font-size: 20px;
}
@media (min-width: 1300px) {
  #calculate .calculate-header h3 {
    font-size: 25px;
    width: 400px;
  }
}
#calculate .calculate-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
@media (min-width: 1300px) {
  #calculate .calculate-container {
    gap: 2rem;
  }
}
#calculate .calculate-container .co2-header {
  width: 320px;
  text-align: center;
}
@media (min-width: 1300px) {
  #calculate .calculate-container .co2-header {
    padding-right: 17rem;
  }
}
#calculate .calculate-container .co2-header p {
  width: 340px;
  color: #006769;
}
@media (min-width: 1300px) {
  #calculate .calculate-container .co2-header p {
    width: 650px;
    font-size: 19px;
  }
}
#calculate .calculate-container .input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
@media (min-width: 1300px) {
  #calculate .calculate-container .input-container {
    gap: 1.6rem;
  }
}
#calculate .calculate-container .input-container .website-input {
  width: 272px;
  height: 21.61px;
  padding: 0.2rem 0.3rem;
}
@media (min-width: 1300px) {
  #calculate .calculate-container .input-container .website-input {
    width: 500px;
    height: 34px;
  }
}
#calculate .calculate-container .input-container .website-input::-moz-placeholder {
  text-align: center;
  color: #ffffff;
  font-size: 15px;
  line-height: 13px;
}
#calculate .calculate-container .input-container .website-input:-ms-input-placeholder {
  text-align: center;
  color: #ffffff;
  font-size: 15px;
  line-height: 13px;
}
#calculate .calculate-container .input-container .website-input::placeholder {
  text-align: center;
  color: #ffffff;
  font-size: 15px;
  line-height: 13px;
}
@media (min-width: 1300px) {
  #calculate .calculate-container .input-container .website-input::-moz-placeholder {
    text-align: left;
    padding-left: 1.9rem;
  }
  #calculate .calculate-container .input-container .website-input:-ms-input-placeholder {
    text-align: left;
    padding-left: 1.9rem;
  }
  #calculate .calculate-container .input-container .website-input::placeholder {
    text-align: left;
    padding-left: 1.9rem;
  }
}
#calculate .calculate-container .input-container #calculate-website {
  width: 150px;
  height: 26px;
  margin-bottom: 0.4rem;
  text-transform: uppercase;
}
#calculate .calculate-container .input-container #calculate-website:hover {
  cursor: pointer;
}
@media (min-width: 1300px) {
  #calculate .calculate-container .input-container #calculate-website {
    width: 200px;
    height: 30px;
  }
}

#calculate-result {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  width: 70%;
  background: #40a578;
}



/*green check css*/
:root {
  --bg-color: #40a578;
  --font-color: #e6ff94;
  --font-weight: 400;
  --padding: 14px 80px 80px 21px;
  --border-color: rgba(165, 221, 155, 1);
  --border-width: 6px;
  --check-bg-color: #40a578;
  --check-color: #a5dd9b;
  --font-size: 24px;
  --font-family: 'Ubuntu Mono', sans-serif;
  --info-header-font-size: 48px;
  --info-header-font-family: 'Inter', sans-serif;
  --description-font-family: 'Ubuntu Mono', sans-serif;
  --url-input-bg-color: #a5dd9b;
  --url-input-color: #006769;
  --check-button-bg-color: #a5dd9b;
  --check-button-color: #006769;
  --sub-text-color: rgb(64, 165, 120);
  --main-text-color: rgb(230, 255, 148);
}

.wrapper {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: var(--font-color);
  font-weight: var(--font-weight);
  text-align: center;
  padding: var(--padding);
}

@media (max-width: 991px) {
  .wrapper {
    padding: 0 20px;
  }
}

.green-check {
  stroke-width: var(--border-width);
  border-color: var(--border-color);
  border-style: solid;
  border-width: var(--border-width);
  background-color: var(--check-bg-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--check-color);
  aspect-ratio: 1;
  margin-right: 11px;
  padding: 32px;
  font: var(--font-size) var(--font-family);
}

@media (max-width: 991px) {
  .green-check {
    padding: 0 20px;
  }
}

.info-header {
  margin-top: -3px;
  padding-right: 15px;
  font: var(--info-header-font-size) var(--info-header-font-family);
}

@media (max-width: 991px) {
  .info-header {
    max-width: 100%;
    margin-top: 40px;
    font-size: 40px;
  }
}

.description {
  font-family: var(--description-font-family);
  margin-top: 59px;
}

@media (max-width: 991px) {
  .description {
    max-width: 100%;
    margin-top: 40px;
  }
}

.url-input {
  font-family: var(--font-family);
  border-radius: 77px;
  background-color: var(--url-input-bg-color);
  margin-top: 84px;
  width: 765px;
  max-width: 100%;
  align-items: start;
  color: var(--url-input-color);
  white-space: nowrap;
  justify-content: center;
  padding: 22px 53px;
}

@media (max-width: 991px) {
  .url-input {
    margin-top: 40px;
    white-space: initial;
    padding: 0 20px;
  }
}

.check-button {
  font-family: var(--font-family);
  border-radius: 77px;
  background-color: var(--check-button-bg-color);
  margin-top: 36px;
  width: 234px;
  max-width: 100%;
  align-items: center;
  color: var(--check-button-color);
  white-space: nowrap;
  justify-content: center;
  padding: 13px 60px;
}

@media (max-width: 991px) {
  .check-button {
    white-space: initial;
    padding: 0 20px;
  }
}

.sub-text {
  font-family: var(--font-family);
  color: var(--sub-text-color);
}

.main-text {
  font-family: var(--font-family);
  font-size: 36px;
  color: var(--main-text-color);
}